/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

/* Base Styles */
body {
    font-family: 'Inter', sans-serif;
}

/* Material Symbols Settings */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Custom Scrollbar (Optional for premium feel) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f6f8f6;
}

::-webkit-scrollbar-thumb {
    background: #13ec5b;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0ea841;
}
